LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
HF_TOKEN=
FPT_API_KEY=
LUNARY_PUBLIC_KEY=
OPENAI_API_KEY=
OPENAI_API_BASE=https://mkp-api.fptcloud.com
EMBEDDING_MODEL=AITeamVN/Vietnamese_Embedding
LLM_MODEL=gpt-oss-120b
DB_DIR=./qdrant_db
DB_COLLECTION=rice_study
DOCS_URL_FILE=./documents_url.txt
PDF_DIR=./documents_pdf
